/* BASE + RESETS */
*,
p, h1, h2, h3 {
    border: 0;
    margin: 0;
    padding: 0;
}
div, section ,p ,h1 ,h2, h3, span {
  box-sizing: border-box;
  max-height: 999999px;
}
html {
  font-size: 1rem;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  font-family: sans-serif;
}
html h1,
html h2 {
  font-weight: normal!important;
}


/* Styles */
body {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: rgb(43 43 43);
  background-color: rgb(39 63 68);
}

.app-container {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  max-width: 63rem;
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
}

.buy-popup-btn-container {
  position: fixed;
  height: 12rem;
  width: 100vw;
  max-width: 100rem;
  width: 100%;
  background-color: #8d0505;
  cursor: pointer;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  user-select: none;
  /* top: 0;
  left: 0; */
}


.buy-popup-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.visible {
  visibility: visible;
}

.overflow-none {
  overflow: hidden;
}

.buy-popup-element {
  position: fixed;
  height: 80vh;
  width: 90vw;
  max-width: 90rem;
  background-color: rgb(23 60 95);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.close {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding: 2.3rem 2.3rem 0 0;
}

.close-sign {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 4rem;
  padding: 0.5rem 1.5rem;
  border-radius: 20%;
  user-select: none;
}

.link-item-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  margin: 4rem 0;
  box-sizing: border-box;
  background-color: #b5b5b5;
  border-radius: 2rem;
  text-decoration: none;
  color: black;
}

.link-icon {
  height: 10rem;
  width: 11rem;
  background-color: darkgreen;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: black;
}

.link-text {
  font-size: 3rem;
}

.mini-book-general {
  min-height: 43rem;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10rem;
}

.mini-book-title {
  width: 100%;
  display: flex;
  font-size: 4rem;
  margin-bottom: 5rem;
}

.mini-book-cointainer-for-blacken {
  background-color: rgb(0, 0, 0, 0.5);
  padding: 5rem 5rem;
  min-height: 46rem;
}

.mini-book-text {
  width: 100%;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.mini-book-o {
  background-color: rgb(0, 0, 0);
  background-image: url('imgs/BoK Book Of Knowledge.jpg');    
  background-position-x: -1rem;
  height: 86rem;
  background-position: center;
  background-size: 63rem;

}

.mini-book-a {
  background-color: rgb(0, 0, 0);
  background-image: url('imgs/OIG2.jpeg');
  background-position-y: -6rem;
  background-position-x: -1rem;
}

.mini-book-b {
  background-color: rgb(0, 0, 0);
  background-image: url('imgs/tower.jpg');
  background-position-y: -14rem;
}

.mini-book-c {
  background-color: rgb(0, 0, 0);
  background-image: url('imgs/trma.jpg');
  background-position-y: -13rem;
  background-position-x: center;
  
}

.mini-book-d {
  background-color: rgb(0, 0, 0);
  background-image: url('imgs/map.jpg');
  background-position: center;
  background-size: 64rem;
  background-position-y: -5.8rem;
  background-position-x: -1rem;
  /* background-image: url('imgs/OIG1.jpeg'); */
  
}

.mini-book-e {
  background-color: rgb(0, 0, 0);
  background-image: url('imgs/OIG1.jpeg');
  
}

.mini-book-f {
  background-color: rgb(0, 0, 0);
  background-image: url('imgs/phy.jpg');
  background-position: center;
  /* background-image: url('imgs/OIG1.jpeg'); */
  /* background-image: url('imgs/OIG2.jpeg'); */
  
}

.mini-book-g {
  background-color: rgb(0, 0, 0);
  
}

.mini-book-h {
  margin-bottom: 0;
  /* background-color: rgb(0, 0, 0); */
  /* background-image: url('imgs/OIG2.jpeg'); */
  
}

.social-hover {
  background-color: white;
  font-size: 61rem;
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;
}

.contact {
  text-decoration: none!important;
  color: white;
}